@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: blue;
    --foreground: pink;
  }
}

.waves svg path {
  fill: green;
  stroke: url(#line-gradient);
  stroke-width: 10px;
}

body {
  @apply bg-black min-h-screen;
}