@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
  }
}

.waves svg path {
  fill: none;
  stroke: url(#line-gradient);
  stroke-width: 5px;
}

body {
  @apply bg-black min-h-screen;
}
